@media(min-width: 1000px){

    .pldr{
        margin-left: 700px !important;
        padding-bottom: 450px;
        background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
    }
}
    
    @media(max-width: 426px){
        .pldr{
            margin-left: 150px;
            margin-bottom: 380px;
        }
    }

    @media(max-width: 381px){
        .pldr{
            margin-left: 130px;
        }
    }
    
    @media(max-width: 351px){
        .pldr{
            margin-left: 120px;
        }
    }

    @media(max-width: 331px){
        .pldr{
            margin-left: 110px;
        }
}